# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/
env/

# Django
*.log
staticfiles/
media/

# Environment variables
.env

# Mac
.DS_Store

# VS Code
.vscode/

# migrations cache
*/migrations/*.pyc