{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-header">
        {{customer_record.first_name}} {{customer_record.last_name}}
    </div>
    <div class="card-body">
        <h5 class="card-title"><strong>ID:</strong> {{customer_record.id}}</h5>
        <h5 class="card-title"><strong>Email:</strong> {{customer_record.email}}</h5>
        <h5 class="card-title"><strong>Phone:</strong> {{customer_record.phone}}</h5>
        <h5 class="card-title"><strong>Address:</strong> {{customer_record.address}}</h5>
        <h5 class="card-title"><strong>City:</strong> {{customer_record.city}}</h5>
        <h5 class="card-title"><strong>State:</strong> {{customer_record.state}}</h5>
        <h5 class="card-title"><strong>Zipcode:</strong> {{customer_record.zipcode}}</h5>
        <h5 class="card-title"><strong>Created at:</strong> {{customer_record.created_at}}</h5>
    </div>

</div>
<br>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary">Update</a>

{% endblock %}